:root {
  --collor-button-continue: hsl(224, 30%, 27%);
  --color-background-container: hsl(221, 100%, 96%);
  --color-background-main: hsl(0, 0, 100%);
  --color-button-blue: hsl(234, 85%, 45%);
  --color-button-red: hsl(0, 100%, 67%);
  --color-button-teal: hsl(166, 100%, 37%);
  --color-button-yellow: hsl(39, 100%, 56%);
  --color-circle-gradient-one: hsla(256, 72%, 46%, 1);
  --color-circle-gradient-two: hsla(241, 72%, 46%, 0);
  --color-font-main: hsl(241, 100%, 89%);

  --border-radius: 30px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: 'Hanken Grotesk', sans-serif;
}

body {
  /* line-height: 1.5; */
  background-color: var(--color-background-main);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-font-main);
}

h1 {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
}

h1,
h2,
p {
  margin: 0;
}

.container {
  width: 375px;
  height: 809px;
  background-color: var(--color-background-main);
  box-shadow: 1px 10px 30px var(--color-background-container);
}

.container-top {
  background: linear-gradient(hsla(252, 100%, 60%, 0.9), hsla(241, 81%, 54%, 1));
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  height: 355px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-top h2,
.container-bottom h2 {
  font-size: 1.8rem;
  font-weight: 700;
}

.circle {
  width: 135px;
  height: 135px;
  background-color: white;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  margin: 2.5rem 0;
}

.number-one {
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.number-two {
  font-size: 1.5rem;
}

.container-top-paragraph {
  font-size: 1.5rem;
  margin: 1rem 6rem 1rem 6rem;
  line-height: 1.4;
  text-align: center;
}

.container-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 3.25rem;
}

.container-bottom h2 {
  align-self: flex-start;
  color: var(--collor-button-continue);
  margin-top: 2.5rem;
  margin-bottom: 1.2rem;
}

.container-actions {
  width: 100%;
  /* height: 200px;
  background-color: gold; */
}

.buttons {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 56px;
  justify-content: space-between;
  padding: 0 1.5rem;
  width: 100%;
  margin: 1.5rem 0;
}

.button-one {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.button-two {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.button-three {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.button-four {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.container-media,
.container-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-media img {
  margin-right: 1rem;
}

.media-action,
.numbers-one,
.numbers-two {
  font-size: 1.5rem;
}

.media-action-one {
  color: var(--color-button-red);
}

.media-action-two {
  color: var(--color-button-yellow);
}

.media-action-three {
  color: var(--color-button-teal);
}

.media-action-four {
  color: var(--color-button-blue);
}

.numbers-one {
  color: var(--collor-button-continue);
  font-weight: 700;
  margin-right: 0.5rem;
}

.numbers-two {
  color: hsl(283, 4%, 63%);
}
