:root {
  --border-radius: 30px;
  --collor-button-continue: hsl(224, 30%, 27%);
  --color-background-container: hsl(221, 100%, 96%);
  --color-background-main: hsl(0, 0, 100%);
  --color-button-blue: hsl(234, 85%, 45%);
  --color-button-red: hsl(0, 100%, 67%);
  --color-button-teal: hsl(166, 100%, 37%);
  --color-button-yellow: hsl(39, 100%, 56%);
  --color-circle-gradient-one: hsla(256, 72%, 46%, 1);
  --color-circle-gradient-two: hsla(241, 72%, 46%, 0);
  --color-font-main: hsl(241, 100%, 89%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: 'Hanken Grotesk', sans-serif;
  font-size: 62.5%;
}

body {
  align-items: center;
  background-color: var(--color-background-main);
  color: var(--color-font-main);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
}

h1,
h2,
p {
  margin: 0;
}

button {
  background-color: var(--collor-button-continue);
  border-radius: 35px;
  border: none;
  color: var(--color-background-container);
  cursor: pointer;
  height: 5.5rem;
  margin-top: 1rem;
  outline: none;
  width: 31rem;
}

button:hover {
  background: linear-gradient(hsla(252, 100%, 60%, 0.9), hsla(241, 81%, 54%, 1));
}

.container {
  background-color: var(--color-background-main);
  box-shadow: 1px 10px 30px var(--color-background-container);
  height: 809px;
  width: 375px;
}

.container-top {
  align-items: center;
  background: linear-gradient(hsla(252, 100%, 60%, 0.9), hsla(241, 81%, 54%, 1));
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: 355px;
  justify-content: center;
  width: 100%;
}

.container-top h2,
.container-bottom h2,
button {
  font-size: 1.8rem;
  font-weight: 700;
}

.circle {
  align-items: center;
  background-color: white;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  height: 135px;
  justify-content: center;
  margin: 2.5rem 0;
  width: 135px;
}

.number-one {
  color: white;
  font-size: 5rem;
  font-weight: 800;
}

.number-two {
  font-size: 1.5rem;
}

.container-top-paragraph {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 6rem 1rem 6rem;
  text-align: center;
}

.container-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 3.25rem;
}

.container-bottom h2 {
  align-self: flex-start;
  color: var(--collor-button-continue);
  margin-bottom: 1.2rem;
  margin-top: 2.5rem;
}

.container-actions {
  width: 100%;
}

.buttons {
  align-items: center;
  border-radius: 10px;
  display: flex;
  height: 56px;
  justify-content: space-between;
  margin: 1.5rem 0;
  padding: 0 1.5rem;
  width: 100%;
}

.button-one {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.button-two {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.button-three {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.button-four {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.container-media,
.container-numbers {
  align-items: center;
  display: flex;
  justify-content: center;
}

.container-media img {
  margin-right: 1rem;
}

.media-action {
  font-weight: 700;
}

.media-action,
.numbers-one,
.numbers-two {
  font-size: 1.5rem;
}

.media-action-one {
  color: var(--color-button-red);
}

.media-action-two {
  color: var(--color-button-yellow);
}

.media-action-three {
  color: var(--color-button-teal);
}

.media-action-four {
  color: var(--color-button-blue);
}

.numbers-one {
  color: var(--collor-button-continue);
  font-weight: 700;
  margin-right: 0.5rem;
}

.numbers-two {
  color: hsl(283, 4%, 63%);
  font-weight: 700;
}

/* Desktop */

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }

  button {
    height: 56px;
    margin-top: 2rem;
    width: 297px;
  }

  .container {
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: row;
    height: 510px;
    width: 735px;
  }

  .container-top {
    align-items: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    height: 510px;
    justify-content: space-between;
    padding-bottom: 5.4rem;
    padding-top: 4.2rem;
    width: 367px;
  }

  .circle {
    height: 195px;
    margin-top: 1.5rem;
    padding-top: 1rem;
    width: 195px;
  }

  .container-top h2,
  .container-bottom h2 {
    font-size: 2.5rem;
  }

  .container-top h2 {
    margin-bottom: 0.5rem;
  }

  .container-top-paragraph {
    font-size: 1.7rem;
    margin-bottom: 0;
    margin-top: 0.4rem;
  }

  .number-one {
    font-size: 7rem;
  }

  .number-two {
    font-size: 1.8rem;
  }

  .container-bottom {
    justify-content: space-between;
    margin: 0;
    padding: 4rem 3.5rem;
    width: 367px;
  }

  .container-bottom h2 {
    margin-top: 0;
    margin-bottom: 1rem;
  }
}
